*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    background-color: #D0D4D5;
    position: relative;
}

#nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}
#nav img{
    height: 20px;
    width: 65px;

}
.navlist {
    height: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;



}
.navlist h4{
    font-size: 12px;
    margin-right: 27px;
}
.icons{
    width: 20%;
    height: 30px;
    object-fit: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30%;

    
}
.icons i{
    height: 20px;
    width: 20px;
    object-fit: contain;
}

#container{ 
    width: 100%;
    height: calc(100% - 70px);
    position: relative;
    display: flex;


   
}
#left{
    width: 35%;
    height: 100%;
    padding: 65px 60px ;
   
}

#left h5{
   font-size: 12px;
   color: #111;
   margin-bottom: 13px;

}

#left h1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
}
#left p{
    font-size: 11px;
    font-weight: 550;
    margin-bottom: 40px;
    
}

#left button{
    background-color: black;
    padding: 7px 20px;
    color: white;
    font-size: 10px;
    font-weight: 500;
    border-radius: 40px;
    border-top-left-radius: 0px;
    text-transform: uppercase;
      
}
#right::-webkit-scrollbar{
    display: none;
}
#right{
    width: 65%;
    height: 100%;
    position: relative;
    padding: 50px;
    
    white-space: nowrap;
    overflow-x: auto;
   
}


.elem{
    height: 330px;
    width: 214px;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
    margin-right: 20px;
    display: inline-block;
   
}

.elem img{
    height: 50%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    padding: 10px;
    top: 35px;
}

.elem h4{
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: #b9b5b5;
    padding: 10px 19px;
    font-size: 10px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px ;
}

.elem h5{
    bottom: 32px;
    right: 0px;
    position: absolute;
    background-color: black;
    border-radius: 6px;
    font-size: 11px;
    color: #fff;
    font-weight: 150;
    padding: 9px 9px;
    border-bottom-right-radius: 0px ;
}

